.verde{
    background-color: green;

}
.vermelho{
  background-color:  red;
  color: white;

}
body{
    background-color: antiquewhite;
    text-align: center;
    padding: 20rem;
}
h1{
    text-align: center;
}
label{
    font-size: 23px;
    font-family: cursive;
}
